.container, .container-lg, .container-md, .container-sm, .container-xl {
  height: auto;
  color: rgb(0,0,0);
  background-color: rgba(234,234,234,0);
  width: auto;
  padding: 25px;
  margin: 0px;
  margin-top: 20px;
}

#page-top {
  color: rgb(0,0,0);
  background-color: #efefef;
  padding: 86px;
  border-radius: 0px;
}

.profile {
  height: auto;
  color: rgb(0,0,0);
  background-color: #fefefe;
  width: auto;
  padding: 25px;
  box-shadow: 5px 5px 6px rgb(205,205,205);
}

.card.project {
  margin: 10px;
  min-width: 300px;
  max-width: 300px;
  width: 150px;
  box-shadow: 2px 2px 5px rgb(170,170,170);
  border-radius: 0px;
  border-width: 0px;
  border-left-width: 5px;
  border-left-color: #0a9c42;
}

#sidebar {
  background-color: rgba(108,0,0,0);
  width: 120px;
  position: sticky;
  max-height: 300px;
  top: 0;
  padding-top: 20px;
  margin-right: 50px;
}

#home {
  background-color: #0078cf;
}

#portfolio {
  background-color: #0A9C42;
}

#education {
  background-color: #ca2828;
}

#organizations {
  background-color: #e99b1f;
}

.card.orgs {
  border-radius: 0px;
  height: auto;
  border-width: 0px;
  border-style: none;
  border-left: 5px solid #E99B1F;
  margin: 10px;
  min-width: 300px;
  width: 150px;
  box-shadow: 2px 2px 5px rgb(170,170,170);
}

.card-header:first-child {
  background-color: rgba(0,0,0,0);
  border-style: none;
}

.card-body {
  height: auto;
}

.card.align-self-start.project {
  border-radius: 0px;
  border-width: 0px;
  border-right: 5px solid #ca2828;
}

.card.align-self-end.project {
  border-radius: 0px;
  border-width: 0px;
  border-left-width: 5px;
  border-left-color: #ca2828;
}

.sidebar-button {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-bottom: 30px;
  padding: 12px;
}

#details {
  height: 123px;
  padding: 27px;
}

.container.profile {
  box-shadow: 2px 2px 5px rgb(170,170,170);
  border-left: 5px solid #0078cf;
}

.course {
  color: grey;
  font-weight: 400;
  font-size: 13px;
}

